header{
    background-color: beige;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
nav{
    background-color:lightgrey;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
article{
    background-color: gold;  
    font-family: Georgia, 'Times New Roman', Times, serif; 
    text-align: center;

}
section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    padding: 20px;
}

aside{
    background-color: wheat;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    grid-column: 5/5;
}
footer{
    background-color: thistle;
    color: azure;
    padding:  10px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.menu{
    padding: 0px 20px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
.menu>li{
    float: left;
}
.menu li a{
    background-color:rgb(169, 187, 169);
    color: black;
    text-decoration: none;
    padding: 20px 80px;
    display: block;
}
.menu li a:hover{
 background-color: 	#F5FFFA;
}
.menu li ul{
    display: none;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    min-width: 140px;
}
.menu li:hover > ul{
    display: block;
}
.menu li ul li{
    position: relative;
}
.menu li ul il ul{
right: 140px;
}